{% extends 'base.html' %}
{% load static %}

{% block title %}
    - Recomendaciones al vendedor
{% endblock title %}

{% block content %}
    <div class="flex flex-col px-6 mx-auto h-screen pt:mt-0 pt-20 items-center">
        <div class="w-full p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow">
            <h1 class="text-gray-900 text-center md:text-3xl text-xl font-bold">
                Recomendaciones al vendedor
            </h1>
            <img src="{% static 'imagenes/enlaces/recomendaciones_1.jpg' %}" class="mb-2 w-full h-60 md:max-w-3xl m-auto my-0 md:h-96 rounded-lg"  alt="recomendaciones al vendedor viviendalibre.com"/>
            
            <h2 class="text-gray-900 text-center md:text-2xl text-xl font-semibold">
                -Precio
            </h2>
            <h3 class="text-gray-900 text-justify md:text-xl text-lg">

                No caigas en el error común de incrementar el precio final, con el fin de obtener una plusvalía. Ten en cuenta que este es el argumento por el que la gente rechaza la compra a través de inmobiliarias. Si haces esto, es más que probable que tardes en vender y, seguramente, al final tendrás que bajar el precio.<br>
                Si no estás seguro del valor que puede tener tu inmueble, solicita una tasación aproximada (en torno a 100.000 - 150.000 pesos) o exhaustiva (alrededor de 800.000-1.200.000 pesos), A con el fin de conocer el precio real de mercado de éste. Además, infórmate de los inmuebles en venta que hay por las cercanías, conociendo precio, estado y características
                <br><br>
                Evita marcar un precio de venta superior al que tienes pensado, con el fin de hacer una rebaja y utilizar esto como argumento de venta. Puede ser que a este potencial comprador le atraiga la idea y cierre la operación, pero imagina la cantidad de gente que no te ha contactado, por considerar el precio por encima de mercado. Si tu precio es acorde a lo que ofreces, nadie se debe molestar por tu negativa a rebajar el importe final.

            </h3>
            <img src="{% static 'imagenes/enlaces/precio_determinante.jpg' %}" class="mb-2 w-full h-60 md:max-w-3xl m-auto my-0 md:h-96 rounded-lg"  alt="precio determinante viviendalibre.com"/>
            
            <h2 class="text-gray-900 text-center md:text-2xl text-xl font-semibold">
                -Caracter&iacute;sticas
            </h2>
            <h3 class="text-gray-900 text-justify md:text-xl text-lg">
                No exageres prestaciones de tu inmueble, defínelo de manera ajustada a la realidad. Así evitarás enfados y pérdidas de tiempo, tanto del potencial comprador como tuyas.

                Define, con toda precisión, todas las características de tu inmueble, así como las explicaciones que consideres oportunas. No escatimes en tiempo. Ayudarás a los potenciales compradores a hacerse una idea más clara de la oferta y a interesarse, si realmente se corresponde con sus necesidades.
               
            </h3>    
            <img src="{% static 'imagenes/enlaces/agencia-inmobiliaria.jpg' %}" class="mb-2 w-full h-60 md:max-w-3xl m-auto my-0 md:h-96 rounded-lg"  alt="precio determinante viviendalibre.com"/>
            
            <h2 class="text-gray-900 text-center md:text-2xl text-xl font-semibold">
                -Paciencia
            </h2>
            <h3 class="text-gray-900 text-justify md:text-xl text-lg">
                No te desesperes si ha pasado un tiempo y no has encontrado un comprador. En la mayoría de ocasiones, vender un inmueble requiere mucho tiempo, puesto que para los compradores se trata de operaciones muy importantes, cuyas decisiones no se toman a la ligera.

                Por tanto, si el inmueble está ajustado a precio, no lo bajes pensando que así se venderá antes. Simplemente, ten paciencia y aparecerá la persona que vea que tu inmueble es el suyo ideal. En cambio, si el precio es superior al de mercado, deberás bajarlo inmediatamente, ya que ésta podría ser la causa del estancamiento
            </h3>    
            <img src="{% static 'imagenes/enlaces/cultivar-paciencia.jpg' %}" class="mb-2 w-full h-60 md:max-w-3xl m-auto my-0 md:h-96 rounded-lg"  alt="precio determinante viviendalibre.com"/>    
            

                        
            <h2 class="text-gray-900 text-center md:text-2xl text-xl font-semibold">
                - Publicidad
            </h2>
            <h3 class="text-gray-900 text-justify md:text-xl text-lg">
                Coloca un cartel en tu portal, fachada, ventana, jardín, etc. en el que aparezca tu teléfono y el número de referencia de tu inmueble en www.viviendalibre.com, a fin de que los potenciales compradores contacten contigo directamente o bien vean las características completas y fotografías. A mucha gente le gusta conocer bien lo que compran antes de decidirse a preguntar.

                Si decides anunciarte en prensa, te recomendamos incluir la dirección URL que se te asigna. Así, los potenciales compradores que lo deseen, podrán obtener mayor información de la que se le brinda en el anuncio, todo ello sin obligarle a llamar.

            </h3>    
            <img src="{% static 'imagenes/enlaces/forsale.jpg' %}" class="mb-2 w-full h-60 md:max-w-3xl m-auto my-0 md:h-96 rounded-lg"  alt="precio determinante viviendalibre.com"/>    
            
            <h2 class="text-gray-900 text-center md:text-2xl text-xl font-semibold">
                - Nota final
            </h2>
            <h3 class="text-gray-900 text-justify md:text-xl text-lg">
                Haz copia de todos los documentos que puedan ser relevantes, de cara a un potencial comprador (escrituras, registro propiedad, luz, agua, administración, etc.).

                Es de vital importancia que cuelgues las fotografías que más representen tu inmueble. Ayudará mucho al potencial comprador tener una serie de referencias visuales, acompañando a las características, precio y explicaciones.
    
                Fotografía las zonas más significativas de tu inmueble, incluyendo la fachada. A la gente le gusta saber no sólo cómo es el inmueble por dentro, sino también cómo es por fuera, así como identificarlo para poder conocer la zona y hacerse una composición de lugar.
    
                Tómate tu tiempo en anotar aquellas explicaciones que consideres que pueden interesar al potencial comprador, por irrelevantes que parezcan.
    
                No te olvides de darte de baja del servicio, una vez hayas vendido el inmueble, a fin de evitar seguir recibiendo llamadas.

            </h3>   

            </br></br></br>
        </div>
        </br></br></br>
    </div>
{% endblock content %}