        
    <ul class="flex justify-center flex-wrap items-center mt-2 text-sm font-medium text-gray-500sm:mt-0">
        <li>
            <a href="{% url 'quienes_somos' %}" class="mr-4 hover:underline md:mr-6">Qui&eacute;nes somos</a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Pol&iacute;ticas de Privacidad</a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Publicidad</a>
        </li>
        <li>
            <a href="#" class="hover:underline">Contacto</a>
        </li>
    </ul>

    <span class="text-sm text-gray-500 sm:text-center">©2022-2023 <a href="{% url 'home' %}" class="hover:underline">ViviendaLibre</a>. All Rights Reserved.
    </span>
