{% load static %}
<nav class="fixed w-full z-20 top-0 left-0 border-b border-gray-200 black" style="background: #070707;">
    <div class="flex flex-wrap items-center justify-between mx-auto">
        <a href="{% url 'home' %}" class="flex items-center bg-white">
            <img src="{% static 'imagenes/logo.png' %}" class="h-16 py-0" alt="Viviendalibre Logo">
        </a>
        <div class="flex md:order-2 px-2">
            {% if not request.user.is_active %}
                <a type="button" href="{% url 'account_signup' %}" class="text-white bg-yellow-300 hover:bg-yellow-500 focus:ring-4 focus:outline-non font-medium text-sm px-4 py-4 text-center mr-3 md:mr-0">Ingresar</a>
            {% else %}
                <a type="button" href="{% url 'account_logout' %}" class="text-white focus:ring-4 focus:outline-non font-medium text-sm px-4 py-4 text-center mr-3 md:mr-0">
                    <span class="material-icons">
                        logout
                    </span>
                </a>
            {% endif %}
            <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 text-sm text-white md:hidden focus:outline-none focus:ring-2" aria-controls="navbar-sticky" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
            </button>
        </div>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
            <ul class="flex flex-col p-4 md:p-0 font-medium border-t-2 border-t-gray-200 bg-black md:flex-row md:space-x-8 md:mt-0 md:border-0 black h-screen md:h-full">
            <li>
                <a href="{% url 'crear_publicacion' %}" class="block py-2 pl-3 pr-4 text-white bg-yellow-300  md:bg-transparent md:p-0" aria-current="page">Publica gratis</a>
            </li>
            <li>
                <a href="{% url 'pricing' %}" class="block py-2 pl-3 pr-4 text-white hover:bg-yellow-300 md:hover:bg-transparent md:p-0">Publica premium</a>
            </li>
            {% if request.user.is_active %}
            <li>
                <a href="{% url 'mis_inmuebles' request.user.username request.user.email %}" class="block py-2 pl-3 pr-4 text-white  hover:bg-yellow-300 md:hover:bg-transparent md:p-0">Mis publicaciones</a>
            </li>
            <li>
                <a href="{% url 'completar_perfil' %}" class="block py-2 pl-3 pr-4 text-white  hover:bg-yellow-300 md:hover:bg-transparent md:p-0">Editar datos</a>
            </li>
            {% endif %}
            <li>
                <a href="{% url 'enlaces_de_interes' %}" class="block py-2 pl-3 pr-4 text-white   hover:bg-yellow-300 md:hover:bg-transparent md:p-0">Enlaces de interes</a>
            </li>
            </ul>
        </div>
    </div>
</nav>
