{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    - Detalles de {{inmueble.Tipo_de_inmueble}}
{% endblock title %}

{% block css %}
    <style>
        @media (min-width: 768px) {
            .minima{
            min-height: 660px;
            min-width: 70%;
            }
            .minimos{
                min-height: 50%;
            }
            .divima{
                max-width: 30%;
            }
        }
    </style>
{% endblock css %}

{% block content %}
<div class="flex flex-col px-6 mx-auto h-screen pt:mt-0 ">

    <div class="flex w-full m-auto my-0 pt-20 md:pt-4 items-center bg-black">            

        <div class="flex flex-wrap xl:flex-nowrap w-full  justify-center">
            <div class="">
                <img class="sm:max-w-xl m-auto md:mx-0 md:max-w-4xl h-full minima" src="{{inmueble.portada.url}}" alt="image description">
            </div>
            <div class="hidden xl:flex xl:flex-wrap divima">
            {% for img in inmueble.image.all %}
                {% if forloop.counter < 5 %}
                        <img class=" ml-auto h-2/4 max-h-80 w-full minimos" src="{{img.image.url}}" alt="image description">
                {% endif %}
            {% endfor %}
            </div>
        </div>

    </div>
    <div class="flex xl:flex-nowrap flex-wrap">
        <section class="flex flex-col xl:flex-1 flex-none w-full" id="datos-casa">
            <h2 class="text-gray-900 pt-4 text-3xl font-bold">
                {{inmueble.Tipo_de_inmueble}} en {{inmueble.operacion|lower}}
            </h2>
            <h4 class="text-gray-600 text-xl font-light">
                {{inmueble.ubicacion}}
            </h4>
            <section class="border border-gray-200 rounded-lg p-4 mt-4">
                <article id="precio" class="mt-4">
                    <p class="text-gray-500">
                        Desde
                    </p>
                    <h5 class="text-gray-800 text-3xl font-bold">
                        {{inmueble.precio|intcomma}} COP
                    </h5>
                </article>

                <h2 class="text-gray-900 font-semibold text-xl mt-6">
                    Informaci&oacute;n del {{inmueble.Tipo_de_inmueble|lower}}:
                </h2>

                <article id="datos" class="mt-2 flex">

                    <div class="mt-2 flex- flex-wrap md:flex-nowrap flex-1">
                        <p class="text-gray-900 text-xl">
                            <span class="material-icons">bed</span> {{inmueble.habitaciones}} Habitacion(es)
                        </p>
                        <p class="text-gray-900 text-xl">
                            <span class="material-icons">bathroom</span> {{inmueble.banos}} Baño(s)
                        </p>
                        <p class="text-gray-900 text-xl">
                            <span class="material-icons">aspect_ratio</span> &Aacute;rea: {{inmueble.area}}m^2 
                        </p>
                        <p class="text-gray-900 text-xl">
                            <span class="material-icons">schedule</span> Antigüedad {{inmueble.antiguedad}} año{{inmueble.antiguedad|pluralize}} 
                        </p>
                        <p class="text-gray-900 text-xl ">
                            Estrato: {{inmueble.estrato}}
                        </p>
                        <p class="text-gray-900 text-xl ">
                            <span class="material-icons">star</span>Valor administraci&oacute;n: {{inmueble.valor_administracion}}
                        </p> 
                    </div>
                    <div class="mt-2 flex- flex-wrap md:flex-nowrap flex-1">
                        <p class="text-gray-900 text-xl">
                            <span class="material-icons">local_parking</span> Estacionamiento                                       
                            {% if inmueble.parqueadero %} <span class="material-icons">done</span> {% else %} <span class="material-icons">clear</span> {% endif %}
                        </p>
                        <p class="text-gray-900 text-xl">
                            <span class="material-icons">forest</span> Zonas verdes                                       
                            {% if inmueble.zonas_verdes %} <span class="material-icons">done</span> {% else %} <span class="material-icons">clear</span> {% endif %}
                        </p>
                        <p class="text-gray-900 text-xl">
                            <span class="material-icons">holiday_village</span> Zona residencial                                    
                            {% if inmueble.zona_residencial %} <span class="material-icons">done</span> {% else %} <span class="material-icons">clear</span> {% endif %}
                        </p>
                        <p class="text-gray-900 text-xl">
                            <span class="material-icons">child_care</span> Zona para niños                                       
                            {% if inmueble.zona_ninos %} <span class="material-icons">done</span> {% else %} <span class="material-icons">clear</span> {% endif %}
                        </p>
                        <p class="text-gray-900 text-xl ">
                            <span class="material-icons">book</span> Estudio                                      
                            {% if inmueble.estudio %} <span class="material-icons">done</span> {% else %} <span class="material-icons">clear</span> {% endif %}
                        </p>
                        <p class="text-gray-900 text-xl ">
                            <span class="material-icons">store</span> Zona comercial                                       
                            {% if inmueble.zona_comercial %} <span class="material-icons">done</span> {% else %} <span class="material-icons">clear</span> {% endif %}
                        </p> 
                    </div>
                </article>
                
                                    
            </section>
            
        </section>
        <section id="contacto" class="flex flex-col px-2 py-4 md:mt-16 xl:flex-1 flex-none w-full ">
            <h2 class="text-gray-900 font-bold text-xl mt-4 bg-yellow-300 p-2">
                Informaci&oacute;n de contacto del vendedor:<span class="material-icons">contact</span>
            </h2>
            <div class="mt-4 flex flex-wrap md:flex-nowrap my-4">
                <p class="text-gray-900 text-xl">
                    <span class="material-icons">mail</span>{{inmueble.vendedor.email}}
                </p>
                <p class="text-gray-900 text-xl">
                    <span class="material-icons">phone</span>{{inmueble.vendedor.telefono}}
                </p>
                <p class="text-gray-900 text-xl md:ml-2">
                    <span class="material-icons">person</span> {{inmueble.vendedor.nombres}} {{inmueble.vendedor.apellidos}} 
                </p>
            </div>
            <div class="btn bg-yellow-300 p-2 rounded-lg text-gray-900 text-xl xl:w-2/4 w-full cursor-pointer">
                <p class="material-icons inline-flex">
                    mail
                </p>
                <a class="inline-flex" href="{% url 'sent_email_to_seller' inmueble.id %}">
                    Notificar inter&eacute;s
                </a>
            </div>
        </section>
        
        
        <input type="hidden" value="{{inmueble.Lat}}" id="lat">
        <input type="hidden" value="{{inmueble.Lng}}" id="lng">

    </div>
    <section id="description">
        {% if inmueble.descripcion %}
        <h2 class="mt-4 text-gray-900 text-xl font-bold">
            Descripci&oacute;n:
        </h2>
        <p class="mt-4 text-lg text-gray-900">
            {{inmueble.descripcion}}
        </p>
        {% endif %}
    </section>

    <br><br>
    
    {% if inmueble.video.url %}
    <section>
        <h2 class="text-gray-900 text-xl font-bold mt-4">
            Video:
        </h2>
        <br>
        <style>
            .video-container{
                width: auto;
                height: 400px;
            }

        </style>
        <video src="{{inmueble.video.url}}" controls class="video-container">
            Tu navegador no admite el elemento <code>video</code>.
        </video>
    </section>
    {% endif %}

    <br><br>
    
    <section>
        <h2 class="text-gray-900 text-xl font-bold mt-4">
            Ubicaci&oacute;n del inmueble:
        </h2>
        <br>
        <style>
            #map{
                width: auto;
                height: 500px;
            }
        </style>
        <div id="map" class="">
            
        </div>
    </section>
    <br><br><br>
</div>
{% endblock content %}

{% block js %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap" async defer></script>
    <script src="{% static 'javascript/inmuebles/mapa.js' %}"></script>

{% endblock js %}