{% extends 'base.html' %}
{% load static %}

{% block css %}
    <style>
    @media screen and (max-width:640px) {
    .show
    {
        z-index: 40;
        background: rgb(0, 0, 0);
        height: 100vh;
        position: fixed;
        width: 200px;
        top: 0;
        left: 0;
    }      
    }
    .hide{
        display: none;
    }
    </style>
{% endblock css %}

{% block content %}
    <div class="flex flex-col px-6 mx-auto h-screen pt:mt-0 pt-20">
        {% include 'includes/sugerencias.html' %}
        {% include 'includes/searchbar.html' %}
            
        <div class="flex">

            <aside class="hidden md:flex md:flex-col text-center w-1/5">
                <h1 class="text-gray-900 text-left mt-2 w-full font-light text-2xl">
                    Filtrar
                </h1>
                <br>
                <form class method="" action="" id="filter-form" onsubmit="event.preventDefault();form_submit(event);">
                    <div class="operacion">
                        <h4 class="text-gray-900 text-left mt-2 w-full font-light text-lg">
                            Por operaci&oacute;n
                       </h4>
                                            
                        <ul class="w-48 text-sm font-medium text-gray-900">
                            <li class="w-full">
                                <div class="flex items-center pl-3">
                                    <input id="operacion" type="radio" value="Venta" name="operacion" class="w-4 h-4  focus:ring-transparent focus:ring-2">
                                    <label for="operacion" class="w-full py-3 ml-2 text-sm font-medium text-gray-900">Venta </label>
                                </div>
                            </li>
                            <li class="w-full">
                                <div class="flex items-center pl-3">
                                    <input id="operacion" type="radio" value="Arriendo" name="operacion" class="w-4 h-4  focus:ring-transparent focus:ring-2">
                                    <label for="operacion" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 ">Arriendo</label>
                                </div>
                            </li>
                            <li class="w-full">
                                <div class="flex items-center pl-3">
                                    <input id="operacion" type="radio" value="Permuta" name="operacion" class="w-4 h-4  focus:ring-transparent focus:ring-2">
                                    <label for="operacion" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 ">Permuta</label>
                                </div>
                            </li>
                        </ul>

                    </div>

                    <div class="inmueble">
                        <h4 class="text-gray-900 text-left mt-2 w-full font-light text-lg">
                            Por tipo de inmueble
                       </h4>
                                            
                        <ul class="w-48 text-sm font-medium text-gray-900">
                            <li class="w-full">
                                <div class="flex items-center pl-3">
                                    <input id="tipo" type="radio" value="Casa" name="tipo" class="w-4 h-4  focus:ring-transparent focus:ring-2">
                                    <label for="tipo" class="w-full py-3 ml-2 text-sm font-medium text-gray-900">Casa</label>
                                </div>
                            </li>
                            <li class="w-full">
                                <div class="flex items-center pl-3">
                                    <input id="tipo" type="radio" value="Apartamento" name="tipo" class="w-4 h-4  focus:ring-transparent focus:ring-2">
                                    <label for="tipo" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 ">Apartamento</label>
                                </div>
                            </li>
                            <li class="w-full">
                                <div class="flex items-center pl-3">
                                    <input id="tipo" type="radio" value="Local" name="tipo" class="w-4 h-4  focus:ring-transparent focus:ring-2">
                                    <label for="tipo" class="w-full py-3 ml-2 text-sm font-medium text-gray-900">Local </label>
                                </div>
                            </li>
                            <li class="w-full">
                                <div class="flex items-center pl-3">
                                    <input id="tipo" type="radio" value="Oficina" name="tipo" class="w-4 h-4  focus:ring-transparent focus:ring-2">
                                    <label for="tipo" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 ">Oficina</label>
                                </div>
                            </li>
                            <li class="w-full">
                                <div class="flex items-center pl-3">
                                    <input id="list-radio-license" type="radio" value="Bodega" name="tipo" class="w-4 h-4  focus:ring-transparent focus:ring-2">
                                    <label for="list-radio-license" class="w-full py-3 ml-2 text-sm font-medium text-gray-900">Bodega </label>
                                </div>
                            </li>
                            <li class="w-full">
                                <div class="flex items-center pl-3">
                                    <input id="list-radio-license" type="radio" value="Vivienda vacacional" name="tipo" class="w-4 h-4  focus:ring-transparent focus:ring-2">
                                    <label for="list-radio-id" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 ">Vivienda vacacional</label>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="habitaciones">
                        <h4 class="text-gray-900 text-left mt-2 w-full font-light text-lg">
                            Precio
                       </h4>
                                            
                        <ul class="w-48 text-sm font-medium text-gray-900">
                            <li class="w-full">
                                <div class="flex items-center pl-3">
                                    <input id="list-radio-license" type="radio" value="precio" name="list-radio" class="w-4 h-4  focus:ring-transparent focus:ring-2">
                                    <label for="list-radio-license" class="w-full py-3 ml-2 text-sm font-medium text-gray-900">Ascendente </label>
                                </div>
                            </li>
                            <li class="w-full">
                                <div class="flex items-center pl-3">
                                    <input id="list-radio-license" type="radio" value="-precio" name="list-radio" class="w-4 h-4  focus:ring-transparent focus:ring-2">
                                    <label for="list-radio-id" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 ">Descendente</label>
                                </div>
                            </li>
                        </ul>
                        <div>
                            <ul class="w-48 text-sm font-medium text-gray-900">
                                <li class="w-full">
                                    <div class="flex items-center pl-3">
                                        <input type="number" value="" id="min_range" name="min_range" class="w-4 h-4  focus:ring-transparent focus:ring-2" placeholder="Minimo" />
                                    </div>
                                </li>
                                <li class="w-full">
                                    <div class="flex items-center pl-3">
                                        <input type="number" value="" id="max_range" name="max_range" class="w-4 h-4  focus:ring-transparent focus:ring-2" placeholder="M&aacute;ximo" />
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <button type="submit" id="btn-filtrar" value="Filtrar" class="h-12 w-full bg-yellow-300 hover:bg-yellow-400 hover:text-white cursor-pointer mr-4 text-gray-600 text-lg rounded-md  ">
                        Filtrar
                    </button>

                </form>
            </aside>
    
            <div class="flex-1 sm:w-4/5">

                <div class="mt-2">
                    <p>{{texto}}</p>
                    {% for inmueble in inmuebles %}
                    <div class=" border rounded-lg dark:border-gray-700 mb-4">
                        <a href="{% url 'detalles' inmueble.slug %}">
                            <div class="flex md:flex-nowrap flex-wrap h-auto md:h-auto">
                                <div class="flex lg:w-1/4 flex-nowrap md:flex-wrap w-full h-3/5 md:w-2/4">
                                    <img src="{{inmueble.portada.url}}" class="w-full h-3/5 md:h-64" alt="{{inmueble.Tipo_de_inmueble}} en {{inmueble.localidad}} publicado en ViviendaLibre.com"/>
                                </div>
                                <div class="flex-1 px-4">
                                    <h2 class="text-gray-700 font-bold text-3xl"> 
                                        ${{inmueble.precio|floatformat:"0"}} COP
                                    </h2>
                                    <p class="text-yellow-500">
                                        {{inmueble.ubicacion}}. {{inmueble.Tipo_de_inmueble}}
                                    </p>
                                    <p class="{% if inmueble.estado == 'Nuevo' %}text-green-600{% else %}text-red-600{% endif %}">
                                        {{inmueble.estado}}
                                    </p>
                                    <p class="text-gray-600">
                                        {{inmueble.operacion}}
                                    </p>
                                    <p class="text-gray-600">
                                        {{inmueble.descripcion|truncatewords:50}}
                                    </p>
               
                                    <ul class="inline-flex flex-wrap mb-6 lg:mb-12">
                                        <li class="decoration-transparent text-gray-600">
                                            {{inmueble.habitaciones}}
                                        </li>
                                        <li class="ml-1 decoration-transparent text-gray-600">
                                            <span class="material-icons">bed</span>
                                        </li>
                                        <li class="decoration-transparent text-gray-600 ml-3 border-l pl-1 border-yellow-400">
                                             {{inmueble.banos}}
                                        </li>
                                        <li class="ml-1 decoration-transparent text-gray-600">
                                            Baños
                                        </li>
                                        <li class="decoration-transparent text-gray-600 ml-3 border-l pl-1 border-yellow-400">
                                            {{inmueble.area}}m^2
                                       </li>
                                       <li class="ml-1 decoration-transparent text-gray-600">
                                            <span class="material-icons">aspect_ratio</span>
                                        </li>
                                        <li class="ml-1 decoration-transparent text-gray-600 border-l pl-1 border-yellow-400" ">
                                            <span class="material-icons">local_parking</span>
                                        
                                        </li>
                                        <li class="decoration-transparent text-gray-600">
                                            {% if inmueble.parqueadero %}
                                            <span class="material-icons text-green-600">
                                                done
                                            </span>{% else %}<span class="text-red-600 material-icons">
                                                clear
                                            </span>
                                            {% endif %}
                                        </li>
                                        <li class="ml-1 decoration-transparent text-gray-600 border-l pl-1 border-yellow-400" ">
                                            <span class="material-icons">nature_people</span>
                                        
                                        </li>
                                        <li class="decoration-transparent text-gray-600">
                                            {% if inmueble.zonas_verdes %}
                                            <span class="material-icons text-green-600">
                                                done
                                            </span>{% else %}<span class="text-red-600 material-icons">
                                                clear
                                            </span>
                                            {% endif %}
                                        </li>
                                        <li class="ml-1 decoration-transparent text-gray-600 border-l pl-1 border-yellow-400" ">
                                            <span class="material-icons">holiday_village</span>
                                        
                                        </li>
                                        <li class="decoration-transparent text-gray-600">
                                            {% if inmueble.zona_residencial %}
                                            <span class="material-icons text-green-600">
                                                done
                                            </span>{% else %}<span class="text-red-600 material-icons">
                                                clear
                                            </span>
                                            {% endif %}
                                        </li>
                                    </ul>
                                    {% if inmueble.vendedor.suscripcion.status == 'ACTIVE' %}
                                        {% if inmueble.vendedor.suscripcion.name == 'Plan premium' %}
                                            <div class="justify-end flex">
                                                <span class="material-icons text-yellow-300 cursor-pointer text-3xl">
                                                    star
                                                </span>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>

                    {% endfor %}
                    {% include "includes/pagination.html" with pagina=inmuebles %}

                </div>

            </div>
            
        </div>
        
        <br><br><br><br><br><br>
    </div>


{% endblock content %}

{% block js %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{key}}&libraries=places"></script>
    <script>
        google.maps.event.addDomListener(window, "load", function(){
            var autocomplete = document.getElementById('default-search');

            const search = new google.maps.places.Autocomplete(autocomplete);
            search.addListener("place_changed", function(e){
                var place = search.getPlace();

                var address = "";
                if (place.formatted_address != undefined){
                    autocomplete.value = place.formatted_address;
                };
            });

        });
    </script>
    <script src="{% static 'javascript/menu_filters.js' %}">

    </script>
    <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script src="{% static 'javascript/inmuebles/forms.js' %}"></script>
    
{% endblock js %}